@import url(https://fonts.googleapis.com/css?family=Fjalla+One);

.tk-align-left, .tk-align-right, .tk-align-center, .tk-align-justify {
  display: block;
}

.tk-align-left {
  text-align: left;
}

.tk-align-right {
  text-align: right;
}

.tk-align-center {
  text-align: center;
}

.tk-align-justify {
  text-align: justify;
}

.tk-title {
  position: absolute;
  color: white;
  font-weight: bold;
}

.tk-title[right] {
  right: 0;
  text-align: right;
}

.tk-title[center] {
  left: 0;
  right: 0;
  text-align: center;
}

.tk-title[middle] {
  bottom: 50%;
  transform: translateY(50%);
}

.tk-title[bottom] {
  bottom: 0;
}

.tk-animate {
  display: block;
  transition: all .3s;
}

.tk-animate[slow] {
  -webkit-animation-duration: 4s !important;
  animation-duration: 4s !important;
}

.tk-animate[repeat] {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.tk-animate[spin-x], .tk-animate[spin-y] {
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 2s;
  animation-timing-function: linear;
  animation-duration: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.tk-animate[spin-x] {
  -webkit-animation-name: spinner-x;
  animation-name: spinner-x;
}

.tk-animate[spin-y] {
  -webkit-animation-name: spinner-y;
  animation-name: spinner-y;
}

@keyframes spinner-x {
  from {
    -moz-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  to {
    -moz-transform: rotateX(-360deg);
    -ms-transform: rotateX(-360deg);
    transform: rotateX(-360deg);
  }
}

@keyframes spinner-y {
  from {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
    -ms-transform: rotateY(-360deg);
    transform: rotateY(-360deg);
  }
}

.tk-animate[fadeIn], .tk-animate[fadeOut] {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.tk-animate[fadeIn] {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.tk-animate[fadeOut] {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
